.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color:#131515;
    z-index: 99;
}

.preloader-container p {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    font-size: 2.2vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2.5rem;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    animation: type 10s steps(150) infinite;
    animation-delay: 1500ms;
    white-space: nowrap;
}
.preloader-container p::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: .2vw;
    opacity: 0;
    background-color: white;
    height: 100%;
    animation: blink 0.8s steps(3) infinite;
}

@keyframes blink {
    0%, 75% {
        opacity: 1;
    }
    76%, 100% {
        opacity: 0;
    }
}

@keyframes type {
    0%, 90%, 100% {
        width: 0.125%;
        opacity: 1;
    }
    30%, 60% {
        /* width: 82%; */
        width: 80%;
        opacity: 1;
    }
}
.preloader-container .name {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
}
.name2 {
    position: relative;
}
.preloader-container .preload-name-container {
    position: absolute;
    background-color: #131515;
    z-index: 99;
    bottom: 5%;
    left: -2%;
    width: 200%;
    height: 4rem;
}

.preloader-container .name .preload-nam {
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.preloader-container .name span {
    text-transform: uppercase;
    opacity: 0;
    animation: by 0.8s ease-in-out 3500ms;
    animation-fill-mode: forwards;
    position: absolute;
    bottom: 9rem;
}
@keyframes by {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}