*, ::after, ::before {
  box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
    z-index: 10;
  }
  /* @font-face {
    font-family: zeeName;
    src: url(Achafexp.ttf);
  } */
  .navbar .logo-wrapper {
      margin-left: 5rem;
      text-transform: capitalize;
      font-size: 2em;
      font-weight: 300;
  }
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    margin-right: 5rem;
    align-items: center;
  }
  .navbar a {
      text-transform: capitalize;
      text-decoration: none;
      color: inherit;
      position: relative;
  } 
  .navbar a::before {
    content: '';
    position: absolute;
    bottom: -.2em;
    left: 0;
    right: 0;
    height: 2px;
    width: 0px;
    background-color: #17473E;
    transition: all ease-in-out 0.2s;
  }
  .navbar a:hover::before,
  .navbar a:focus::before {
    width: 25px;
    transition: all ease-in-out 0.2s;
  }
  .navbar button {
    background-color: #17473E;
    outline: none;
    border:  none;
    color: white;
    font-size: 1em;
    text-transform: capitalize;
    padding: .5em 1.5em;
    font-weight: 570;
    border-radius: 4px;
    cursor: none;
    transition: all ease-in-out 0.4s;
  }
.navbar button:hover,
.navbar button:focus {
  border-radius: 30px;
  transition: 500ms;
}