.signup-container {
    display: grid;
    grid-template-columns: 40vw 60vw;
    height: 100vh;
}
.signup-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
}
.signup-container form h2 {
    font-weight: 600;
    font-size: 2.7vw;
    padding-bottom: 0;
    margin: 0;
}
.signup-container form p {
    font-size: 1.5vw;
    font-weight: 300;
    margin-bottom: 5vh;
}
.signup-container input, .signup-container button {
    height: 10vh;
    margin-bottom: 3vh;
    border-radius: 5px;
    outline: none;
}
.signup-container .signup-containerinput {
    border: 1px solid rgb(0, 0, 0, 0.5);
    padding: 1vw;
}
.signup-container button {
    border: none;
    text-transform: capitalize;
    background-color: #17473E;
    color: white;
    font-weight: 700;
    font-size: 1.2vw;
    transition: 200ms;
}
.signup-container button:hover,
.signup-container button:focus {
  border-radius: 30px;
  transition: 200ms;
}
.signup-container .container2 {
    background-color: rgb(19, 21, 21, 0.9);
}